.ipru-nav-2-container {
  background-color: #b02a30;
  height: 40px;
  margin: 0 auto !important;
  padding: 0;
}

.ipru-nav-2-wrapper {
  max-width: 1170px !important;
  margin: auto;
}

.ipru-nav-list ul {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Evenly spaces items */
  align-items: center;
}

.ipru-nav-list ul li {
  position: relative;
  margin-top: 6px;
}

.ipru-nav-list ul li a {
  color: white;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
}
